<button type="@Type" class="btn btn-success @(ContainerSize ? "form-control" : "")" disabled="@Disabled" id="@Id" @onclick="EjecutarOnClick">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search @(Text != "" ? "me-1" : "")" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
    </svg>
    @Text
</button>

@code {

    [Parameter] public string Text { get; set; } = "button";
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public Action? OnClick { get; set; } = null!;
    [Parameter] public Func<Task>? OnClickAsync { get; set; } = null;
    [Parameter] public bool ContainerSize { get; set; } = true;
    [Parameter] public string Id { get; set; } = "";

    private async Task EjecutarOnClick()
    {
        if (Type == "button")
        {
            if (OnClick != null)
            {
                OnClick?.Invoke();
            }
            if (OnClickAsync != null)
            {
                await OnClickAsync.Invoke();
            }
        }
    }

}
